/*/
  Styles to keep the look it had before the library update
*/
.parameters-col_name{
	width: 175px;
}
.response-col_status {
    width: 20px;
}
.models{
	padding: 10px;
}
.block, .col-12{
	padding: 0px;
}
#text {
	text-align: left!important;
}
.portfolio .portfolio-item{
	width: 150px;
}
h6 {
    color: #74C660;
    text-align: center;
}
.imagenDatos{
	width: 200px;
}